.nav-img {
    width: 25px;
}

h1 {
    font-size: 150px;
}

input{
    border-radius: 50px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 450px;
}

